.portfolio-container {
    grid-column: 2/3;
    background-color: #4297ff;
    color: #F7D58C
}

.dark-portfolio-container {
    grid-column: 2/3;
    background-color: #183D3D;
    color: #F7D58C;
}

.portfolio-header {
    color: #000000;
    border: 1px solid #4297ff;
}

.dark-portfolio-header {
    background-color: #183D3D;
    color: #F7D58C;
    border: 1px solid #F7D58C;
}

.portfolio-assets-container {
    color: #000000;
    border: 1px solid #4297ff;
}

.dark-portfolio-assets-container {
    background-color: #183D3D;
    color: #F7D58C;
    border: 1px solid #F7D58C;
}

.portfolio-debts-container {
    color: #000000;
    border: 1px solid #4297ff;
}

.dark-portfolio-debts-container {
    background-color: #183D3D;
    color: #F7D58C;
    border: 1px solid #F7D58C;
}