.debts-container {
    grid-column: 2/3;
    height: 100%;
    width: 80%;
    padding: 3em;
    display: flex;
    flex-direction: column;
}

.debts-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.debts-add-button {
    width: 50px;
}